<section>
    <!-- <div>
        <div  class="logoText">
            <a><p>DA</p></a> 
        </div>
        <div class="d-inline-block">
            <a>
                <img src="/assets/add-user.png" alt="">
            </a>
            <input type="button"value="Invite Friends">
        </div> 
    </div> -->
    <div class="location-wrapper col-12">
        <div class="container bg-color">
            <div class="d-flex flex-row">
                <div class="col-6">Ganganagar,Rajasthan</div>
                <div class="col-6 text-end">Change</div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between col-12">
        <div class="bg-color1 col-4">
            <img src="/assets/Filter.png" alt="">
            <p>Filter</p>
        </div>
        <div class="col-4">
           <select class="box-value">
                <option value="Sort:">Sort</option>
                <option name="Relevence">Relevence</option>
                <option name="Nearest First">Nearest First</option>
                <option name="Price - High to Low">Price - High to Low</option>
                <option name="Price - Low to High">Price - Low to High</option>
           </select>
        </div>
    </div>
    <div class="container-1">
        <div>
            <div>
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <p></p>
                </div>
                <div><input type="button" value="..."></div>
            </div>
            <div class="d-flex justify-content-between">
                <div>location</div>
                <div>(distance about)</div>
                <div><img src="/assets/share.svg" alt="" style="background-color:#366315;" width="20px"><input type="button" value="Share"></div>
            </div>
        </div>
        <div>
            <div><img src="" alt=""></div>
            <div>
                <div><img src="" alt=""></div>
                <div><img src="" alt=""></div>
            </div>
        </div>
        <div>product-name</div>
        <div class="d-flex justify-content-center">
            <div>Current Milk
                <div>9 litres</div>
            </div>
            <div>Calfs
                <div>2 Calfs</div>
            </div>
            <div>Lactation
                <div>6 days Ago</div>
            </div>
        </div>
        <div>
            <div>productPrice</div>
            <div>Call</div>
            <div>WhtsApp</div>
        </div>
        <div>View Details >> </div>
    </div>
</section>