<section>
    <!-- <div>
        <div  class="logoText">
            <a><p>DA</p></a> 
        </div>
        <div class="d-inline-block">
            <a>
                <img src="/assets/add-user.png" alt="">
            </a>
            <input type="button"value="Invite Friends">
        </div> 
    </div> -->
    <div class="location-wrapper col-12">
        <div class="container bg-color">
            <div class="d-flex flex-row">
                <div class="col-6">Ganganagar,Rajasthan</div>
                <div class="col-6 text-end">Change</div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between col-12">
        <div class="bg-color1 col-4">
            <img src="/assets/Filter.png" alt="">
            <p>Filter</p>
        </div>
        <div class="col-4">
           <select class="box-value">
                <option value="Sort:">Sort</option>
                <option name="Relevence">Relevence</option>
                <option name="Nearest First">Nearest First</option>
                <option name="Price - High to Low">Price - High to Low</option>
                <option name="Price - Low to High">Price - Low to High</option>
           </select>
        </div>
    </div>
    
</section>