<section>
    <div class="language-wrapper">
        <div class="d-flex flex-column justify-content-centre col-12 pt-5">
            <div class="pt-5">
                <p class="text-center text-color">Choose Your Language</p>
            </div>
            <div class="select-box pt-3">
                <p class="text-center text-color">Select Your Language</p>
            </div>
            <form (ngSubmit)="nextToLogin()">
            <div class="d-flex flex-column col-12">
                <div class="d-flex flex-row justify-content-center pt-5">
                    <div class=" bg-color col-3 ">
                        <label class="m-0 text-center">Hindi:</label>
                    </div>
                    <div class="col-3 position-relative">
                        <input type="radio" name="language" value="hi" (click)="setRadio(hindi)" [checked]="true">
                        <!-- <img class="position-absolute" src="/assets/Ellipse 47.png" alt="">
                        <img class="position-absolute customPosition" src="/assets/Line 1.png" alt=""> -->
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center pt-5">
                    <div class="bg-color col-3 ">
                        <label class="m-0 text-center">English:</label>
                    </div>
                    <div class="col-3 position-relative">
                        <input type="radio" name="language" value="en" (click)="setRadio(english)">
                        <!-- <img class="position-absolute" src="/assets/Ellipse 47.png" alt="">
                        <img class="position-absolute customPosition" src="/assets/Line 1.png" alt=""> -->
                    </div>
                </div>
                <!-- <div *ngIf="f.language.touched && f.language.invalid" class="alert alert-danger">
                    <div *ngIf="f.language.errors.required">Select language</div>
                </div> -->
            </div>
            <div class="d-flex justify-content-center col-12 pt-5">
                <a routerLink="/login"></a>
                <input type="submit" class="next-btn col-1" value="NEXT">
            </div>
        </form>
        </div>
    </div>
</section>