<section>
    <div class="language-wrapper">
        <div class="d-flex flex-column justify-content-centre col-12 pt-5">
            <div class="pt-5">
                <p class="text-center text-color">Choose Your Language</p>
            </div>
            <div class="select-box pt-3">
                <p class="text-center text-color">Select Your Language</p>
            </div>
            <div class="d-flex flex-column col-12">
                <div class="d-flex flex-row justify-content-center pt-5">
                    <div class=" bg-color col-3 ">
                        <p class="m-0 text-center">Hindi</p>
                    </div>
                    <div class="col-3 position-relative">
                        <img class="position-absolute" src="/assets/Ellipse 47.png" alt="">
                        <img class="position-absolute customPosition" src="/assets/Line 1.png" alt="">
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center pt-5">
                    <div class="bg-color col-3 ">
                        <p class="m-0 text-center">English</p>
                    </div>
                    <div class="col-3 position-relative">
                        <img class="position-absolute" src="/assets/Ellipse 47.png" alt="">
                        <img class="position-absolute customPosition" src="/assets/Line 1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center col-12 pt-5">
                <input type="submit" class="next-btn col-1" value="NEXT" (click)="nextToLogin()">
            </div>
        </div>
    </div>
</section>