
    <li class="box-shadow" style="list-style-type:none ;">
        <div class="w-100">
            <img [src]="imgLink" alt="" class="w-100 img-border-top customimg-scroll" >
        </div>
        <div class="d-flex justify-content-between w-25">
            <div class="d-flex flex-column pt-3 ps-3">
                <h3 class="cow-name text-color py-2">{{cowName}}</h3>
                <p class="cow-rate ">{{cowRate}}</p>
                <a class="Details text-color ">
                    View Details >>
                </a>
            </div>
            <div class="align-self-center me-3">
                 <button class="call-btn">Call</button>
            </div>
        </div>
    </li>

    <!-- <li class="box-shadow me-3 my-2">
        <div class="w-100">
            <img src="/assets/Rectangle 111.png" (error)="setImg($event)"  alt="" class="w-100 img-border-top customimg-scroll" >
        </div>
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column pt-3 ps-3">
                <h3 class="cow-name text-color py-2">Sahiwal Cow</h3>
                <p class="cow-rate ">R 43000</p>
                <a class="Details text-color ">
                    View Details >>
                </a>
            </div>
            <div class="align-self-center me-3">
                <button class="call-btn">Call</button>
            </div>
        </div>
    </li> -->