<div class="doagree-header-wrapper bg-header position-sticky z-index-custom sticky">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light py-3 ">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">DA</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav col-12 justify-content-around">
                  
                  <a class="nav-link py-3"><img src="/assets/gift.png" alt="" class="font-style mx-1"> My Rewards</a>
                  <a class="nav-link py-3"><img src="/assets/book.png" alt="" class="font-style mx-1"> My Dairy Book</a>
                  <a class="nav-link py-3"> <img src="/assets/portfolio.png" alt="" class="font-style mx-1"> Talk To Experts</a>
                  <a class="nav-link py-3" ><img src="/assets/whatsapp.png" alt="" class="font-style mx-1">Contact History</a>
                  <a class="nav-link py-3" ><img (error)="setImg($event)" src="/assets/settings.png" alt="" class="font-style mx-1">Language Settings</a>
                  <a class="nav-link py-3" ><img src="/assets/bubble-chat.png" alt="" class="font-style mx-1">FAQ</a>
                  <a class="nav-link py-3"><img src="/assets/padlock.png" alt="" class="font-style mx-1">Privacy Policy</a>
                  <a class="nav-link py-3" ><img src="/assets/files.png" alt="" class="font-style mx-1">Terms & Conditions</a>
                  <div class="authentication-wrapper d-flex ">
                    <a class="nav-link py-3" (click)="getProfileData()"><img src="/assets/user.png" alt="" class="font-style mx-1"></a>
                    <a class="nav-link py-3" (click)="logOut()"><img src="/assets/logout.png" alt="" class="font-style mx-1"></a>
                  </div>
                  
                </div>
              </div>
            </div>
        </nav>   
    </div>
  </div>
  
  <section>
  <div class="personWelcome-wrapper">
    <div class="container p-0">
        <div class="welcome-Heading">
            <div class="d-flex col-12 px-3 pt-4">
                <div class="col-8">
                    <div class="d-flex flex-column">
                        <h3 class="welcome-heading" *ngIf="sectionData.loginPersonDetail">Welcome {{sectionData.loginPersonDetail}}</h3>
                        <p class="welcome-text">What would you like to do today ?</p>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-end pe-2" *ngIf="sectionData.youtube_link">
                    <a [href]="link.link_selected" target="_blank" *ngFor="let link of sectionData.youtube_link">
                        <img src="/assets/youtube.png" (error)="setImg($event)"  alt="youtubeIcon" class="youtubeIconWidth">
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
  </section>
  <section>
  <div class="banner-carusal-wrapper">
    <div class="container " *ngIf="sectionData.baseApiDataUrl">
        <div class="bg-banner "  [ngStyle]="{'background-image': 'url(' + sectionData.baseApiDataUrl+sectionData.hero_banners + ')'}">
            <div class="d-flex justify-content-center align-items-center pt-5 ">
                <button class="custom-btn mt-5" [title]="sectionData.banner_btn">{{sectionData.banner_btn}}</button>
            </div>
        </div>
    </div>
  </div>
  </section>
  <section>
  <div class="near-ads-wrapper ">
    <div class="container">
        <div class="d-flex flex-column">
            <div class="d-flex flex-row pt-4">
                <div class="col-6">
                    <h3 class="text-start text-color location-style"  *ngIf="sectionData.ads_location_wise">{{sectionData.ads_location_wise.display_name}}</h3>
                    <p class="text-start text-color ads-time-style pt-3"> last {{24}} hours-{{120}} ads</p>                        
                </div>
                <div class="col-6 text-end">
                    <p class="text-color Explore-ads-style">Explore Ads</p>
                </div>
            </div>
            <div class="ads-card-wrapper">
                    <div class="overflow-hidden d-flex custom-width">
                        
                        <ul class="pt-3 ">
                          
  
                            <li class="box-shadow me-3 my-2">
                                <div class="w-100">
                                    <img src="/assets/Rectangle 111.png"(error)="setImg($event)"  alt="" class="w-100 img-border-top customimg-scroll" >
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-column pt-3 ps-3">
                                        <h3 class="cow-name text-color py-2">Sahiwal Cow</h3>
                                        <p class="cow-rate ">R 43000</p>
                                        <a class="Details text-color ">
                                            View Details >>
                                        </a>
                                    </div>
                                    <div class="align-self-center me-3">
                                        <button class="call-btn">Call</button>
                                    </div>
                                </div>
                            </li>
  
                            <li class="box-shadow me-3 my-2">
                                <div class="w-100">
                                    <img src="/assets/Rectangle 111.png" alt="" class="w-100 img-border-top customimg-scroll" >
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-column pt-3 ps-3">
                                        <h3 class="cow-name text-color py-2">Sahiwal Cow</h3>
                                        <p class="cow-rate ">R 43000</p>
                                        <a class="Details text-color ">
                                            View Details >>
                                        </a>
                                    </div>
                                    <div class="align-self-center me-3">
                                        <button class="call-btn">Call</button>
                                    </div>
                                </div>
                            </li>
  
                            <li class="box-shadow me-3 my-2">
                                <div class="w-100">
                                    <img src="/assets/Rectangle 111.png" alt="" class="w-100 img-border-top customimg-scroll" >
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-column pt-3 ps-3">
                                        <h3 class="cow-name text-color py-2">Sahiwal Cow</h3>
                                        <p class="cow-rate ">R 43000</p>
                                        <a class="Details text-color ">
                                            View Details >>
                                        </a>
                                    </div>
                                    <div class="align-self-center me-3">
                                        <button class="call-btn">Call</button>
                                    </div>
                                </div>
                            </li>
  
                            <li class="box-shadow me-3 my-2">
                                <div class="w-100">
                                    <img src="/assets/Rectangle 111.png" alt="" class="w-100 img-border-top customimg-scroll" >
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-column pt-3 ps-3">
                                        <h3 class="cow-name text-color py-2">Sahiwal Cow</h3>
                                        <p class="cow-rate ">R 43000</p>
                                        <a class="Details text-color ">
                                            View Details >>
                                        </a>
                                    </div>
                                    <div class="align-self-center me-3">
                                        <button class="call-btn">Call</button>
                                    </div>
                                </div>
                            </li>
  
                            <li class="box-shadow me-3 my-2">
                                <div class="w-100">
                                    <img src="/assets/Rectangle 111.png" alt="" class="w-100 img-border-top customimg-scroll" >
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-column pt-3 ps-3">
                                        <h3 class="cow-name text-color py-2">Sahiwal Cow</h3>
                                        <p class="cow-rate ">R 43000</p>
                                        <a class="Details text-color ">
                                            View Details >>
                                        </a>
                                    </div>
                                    <div class="align-self-center me-3">
                                        <button class="call-btn">Call</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
  </section>
  <section>
    <div class="farmer-income-wrapper">
        <div class="container">
            <div class="d-flex col-12 pt-4 " *ngIf="sectionData.baseApiDataUrl">
                <img [src]="sectionData.baseApiDataUrl+sectionData.safetyTips_link" alt="" class="w-100">
            </div>
        </div>
    </div>
  </section>
  
  <section>
  <div class="Recomanded-seller-wrapper">
    <div class="container">
        <div class="sellercard-wrapper">
            <div class="heading-Recamaded">
                <h3 class="Recommended-seller-heading pt-4">Recommended Sellers </h3>
            </div>
            <div class="overflow-hidden d-flex custom-width">
                
                <ul class="pt-3 ulpersonscroll">
                    <li class="box-shadow me-3 my-2 lipseronscroll" *ngFor="let person of sectionData.recommended_sellers;let i=index;">
                        <div class="w-25 m-auto pt-3" *ngIf="sectionData.baseApiDataUrl">
                            <img src="{{sectionData.baseApiDataUrl+person.image}}" (error)="setImg($event)" alt="" class="custom-Width img-border-top customimg-scroll" >
                        </div>
                        <div class="d-flex flex-column justify-content-between">
                            <h3 class="personName">{{person.name}}</h3>
                            <p class="placeName">{{person.state}}</p>
                            <p class="placeName">{{person.phone}}</p>
                            <a>
                                <button type="button" class="follow-btn">Follow</button>
                            </a>
                        </div>
                    </li>
  
                    
                </ul>
        </div>
    </div>
    </div>
  </div>
  </section>
  
  <section>
  <div class="Dairy-book-wrapper">
    <div class="container">
        <div class="d-flex flex-column">
            <div class="d-flex col-12 flex-row ">
                  <div class="col-6">
                    <h3 class="Dairy-heading text-color text-start pt-4" >Dairy Passbook</h3>
                  </div>
                  <div class="col-6 text-end pt-4">
                    <a class="text-color password-style ">Password >></a>
                  </div>                 
            </div>
            <div class="d-flex flex-row col-12 justify-content-center pt-3">
                <div class="d-flex flex-row col-4 justify-content-center mt-3 pt-4 pb-2 px-4 first-bg borderLeft-side">
                    <div>
                        <img src="/assets/image 14 (1).png" alt="">
                    </div>
                    <div>
                        <p class="money-head text-color">Total Revenue</p>
                        <p class="money-value text-color" *ngFor="let value of sectionData.dairyPassBook"> ₹ {{value.revenue}}</p>
                    </div>
                </div>
                <div class="d-flex flex-row col-4 justify-content-center mt-3 pt-4 pb-2 px-4 second-bg borderRight-side">
                    <div>
                        <img src="/assets/image 14 (2).png" alt="">
                    </div>
                    <div>
                        <p class="money-head  red-color">Total Expense</p>
                        <p class="money-value red-color" *ngFor="let value of sectionData.dairyPassBook"> ₹ {{value.expense}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  </section>
  <section>
  <div class="buyAnimal-wrapper">
    <div class="container">
        <div class="d-flex flex-column">
            <div>
                <h3 class="Dairy-heading text-color text-start pt-4" *ngIf="sectionData.animal_buy">{{sectionData.animal_buy.display_name}}</h3>
            </div>
            <div class="d-flex flex-row justify-content-center " *ngIf="sectionData.animal_buy">
                <a class="col-2 d-flex flex-column pt-4  justify-content-center"  *ngFor="let animal of sectionData.animal_buy.section_data;">
                    <div class="align-self-center w-25">
                        <img src="{{animal.image}}" alt="" class="custom-wid-for-Animal">
                    </div>
                    <div>
                        <p class="Animalname pt-1 text-color text-center">{{animal.category_selected}}</p>
                    </div>
                </a>
                
            </div>
        </div>
    </div>
  </div>
  </section>
  <section>
  <div class="near-ads-wrapper ">
    <div class="container">
        <div class="d-flex flex-column">
            <div class="d-flex flex-row pt-4">
                <div class="col-6">
                    <h3 class="text-start text-color location-style" *ngIf="sectionData.recommended_feed">{{sectionData.recommended_feed.display_name}}</h3>        
                </div>
                <div class="col-6 text-end">
                    <p class="text-color Explore-ads-style">Explore Feeds >></p>
                </div>
            </div>
            <div class="ads-card-wrapper">
                    <div class="overflow-hidden d-flex custom-width">
                        
                        <ul class="pt-3 " *ngIf="sectionData.recommended_feed">
                            <li class="box-shadow me-3 my-2 p-3" *ngFor="let post of sectionData.recommended_feed.section_data">
                                <div class="w-25 m-auto pt-4">
                                    <img src="{{sectionData.baseApiDataUrl}}{{post.created_by.image
                                    }}" (error)="setImg($event)" alt="" class="custom-Width img-border-top customimg-scroll" >
                                </div>
                                <div class="d-flex flex-column px-2">
                                    <div class="d-flex flex-row justify-content-between ">
                                        <div class="cow-name text-color py-2">
                                            <img src="/assets/Ellipse 69.png" alt="" class=""><span class="p-1 pt-3 mx-1">{{post.created_by.name}}</span>
                                        </div>
                                        <button class="follow-btn">Follow</button>
                                    </div>
                                    <div class="text-wrap text-center pt-3 ">
                                        <p class="px-2 text-wrap m-0" >{{post.created_by.phone}} </p>
                                        <p class="px-2 text-wrap m-0" >{{post.created_by.state}} </p>
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
  </section>
  <section>
  <div class="refer-earn-wrapper ">
    <div class="container">
        <div class="d-flex col-12 justify-content-center align-items-center pt-4 mt-5 bg-color">
            <div class="col-4">
                <img src="/assets/Talk to expert (3) 1.svg" alt="">
            </div>
            <div class="col-5 d-flex flex-column ">
                <div class="d-flex flex-row justify-content-end"  *ngIf="sectionData.refer_and_earn">
                    <span><img src="/assets/Rectangle 103.png" alt="" class="px-2"></span>
                    <span   *ngFor="let value of sectionData.refer_and_earn.section_data">{{ value.points}}</span>
                </div>
                <div>
                    <h3 class="text-color " *ngIf="sectionData.refer_and_earn" >
                        {{ sectionData.refer_and_earn.display_name}}
                    </h3>
                </div>
                <div>
                    <p class="text-color">Refer this app with your friends and win 20 points</p>
                </div>
                <div>
                    <a>
                        <button class="follow-btn">Follow</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
  </section>