<section>
    <div class="login-wrapper">
        <div class="container">
            <div class="py-5">
                <div class="d-flex flex-column">
                    <div class="Imgwrapper">
                        <img src="../../../assets/Vector 9.png" alt="BackTriangle">
                    </div>
                    <div class="headingcontent">
                        <h3 class="pt-2 m-0 phone-heading text-center" >Continue With Phone</h3>
                        <p class="pt-2 m-0 phone-text text-center">We will send OTP (One Time Password) on this mobile number</p>
                    </div>
                    <div class="welcome-person-img">
                        <div class="w-40 m-auto pt-5">
                        <img src="../../../assets/Rectangle 120.png" alt="" class="w-100">
                       </div>
                   </div>
                   <div class="mobile-number-wrapper">
                    <h3 class="mobile-number pt-2 m-0 text-center"> Enter Your Mobile Number</h3>
                   </div>
                   <div class="mobile-inputbox">
                    <div class="d-flex pt-3 justify-content-center">
                        <form [formGroup]='loginform' (ngSubmit)="login()">
                            <div class=" p-2 custom-border w-30">+91
                                <input type="text" name="InputNumber" class="noborder custom-border" formControlName="InputNumber">
                        </div>
                        <div *ngIf= 'InputNumber && InputNumber.invalid && InputNumber.touched ' style="color: red;">*This is a required field</div>
                        <div class="loginBtn">
                            <div class=" pt-3 d-flex pt-3 justify-content-center">
                                <input type="submit" value="Login" class="btn" [disabled] ="loginform.invalid">
                                <a routerLinkActive="active" areaCurrentWhenActive="page"> </a>
                               </div>
                           </div>
                        </form>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>