<section>
    <div class="add-product-wrapper">
        <div class="container">
            <div class="d-flex col-12 pt-4">
                <h2 class="font-size-20 font-color text-start">Sell Animal</h2>
            </div>
        </div>
    </div>
     <div class="selected-animal-wrapper">
        <div class="container">
            <div class="d-flex col-12 pt-4">
                <div class="">
                    <img src="/assets/squre.png" alt="square-img" class="w-100">
                </div>
                <div>
                    <h3 class="font-color font-animal ps-2" >Which animal?<span class="text-danger">*</span></h3>
                </div>
            </div>
            <div class="animal-photo">
                <div class="animal-photo-wrapper">
                    <div class="d-flex flex-row mt-3 flex-wrap"  *ngIf="sectionData.productCategoryData">
                        <div class=" col-4"  *ngFor="let animal of sectionData.productCategoryData">
                            <div class="d-flex flex-column align-items-center box-style me-4">
                                <div class="w-25 d-flex justify-content-between pt-2 h-100">
                                    <img [src]="animal.image" [alt]="animal.description" class="w-100 p-2 ">
                                </div>
                                <div class="d-flex justify-content-between mt-3">
                                    <h2 class="font-color size-toSell pt-3 " *ngIf="sectionData.productCategoryData">
                                        {{animal.category}}
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>

     <div class="animal-breed-wrapper">
        <div class="container">
            <div class="d-flex col-12 pt-4">
                <div class="">
                    <img src="/assets/squre.png" alt="square-img" class="w-100">
                </div>
                <div>
                    <h3 class="font-color font-animal ps-2" >Which breed?</h3>
                </div>
            </div>
            <div class="select-animal">
                <div class="d-flex">
                    <div class="selected-animal">
                        <div class="custom-wid mt-2" >
                            <input type="text" placeholder="----Select Option----" class="py-2 px-3 width rounded-3" (click)="showListOfOption()" [value]="selectedAnimalBreed">
                        </div>
                        <div class="listofOption" *ngIf="checkOption==true" >
                            <ul class="d-flex flex-column p-0 m-0" >
                                <li class="d-flex col-12 justify-content-between bg-color p-2 rounded-3" (click)="thisOptionSelected($event)">
                                    <span  class="col-11 font-color option-font">Gyr Cattle</span> 
                                    <input class="w-5 d-flex justify-content-end" value="Gyr Cattle" type="radio"
                                     [checked]="selectedAnimalBreed == 'Gyr Cattle'">
                                </li>

                                <li class="d-flex col-12 justify-content-between bg-color p-2 rounded-3" (click)="thisOptionSelected($event)">
                                    <span  class="col-11 font-color option-font">Sahiwal Cattle</span>
                                    <input class="w-5 d-flex justify-content-end" value="Sahiwal Cattle" type="radio"
                                    [checked]="selectedAnimalBreed == 'Sahiwal Cattle'" >
                                </li>

                                <li class="d-flex col-12 justify-content-between bg-color p-2 rounded-3" (click)="thisOptionSelected($event)">
                                    <span  class="col-11 font-color option-font">Kangayam Cattle</span> 
                                    <input class="w-5 d-flex justify-content-end" value="Kangayam Cattle" type="radio"
                                    [checked]="selectedAnimalBreed == 'Kangayam Cattle'" >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                  
            </div>
        </div>
     </div>
     
     <div class="lactation-period-wrapper">
        <div class="container">
            <div class="bg-blue mx-1 mt-5 rounded-3 pb-4">
                <div class="d-flex flex-column">
                    <div class="d-flex col-12 pt-4">
                        <div class="d-flex flex-column pt-2">
                            <img src="/assets/cow (2).png" alt="square-img" class="w-100">
                            <img src="/assets/cow (1).png" alt="square-img" style="width: 5px;margin-left: 5px;">
                        </div>
                        <div>
                            <h3 class="font-color font-animal ps-2" >Lactation Period?<span class="text-danger">*</span></h3>
                        </div>
                    </div>
                    <div class="custom-wid mt-2" >
                        <select type="text" placeholder="" class="py-3 px-3 width rounded-3" >
                            <option value="1 months ago">1 months ago</option>
                            <option value="2 months ago">2 months ago</option>
                            <option value="3 months ago">3 months ago</option>
                            <option value="4 months ago">4 months ago</option>
                            <option value="5 months ago">5 months ago</option>
                            <option value="6 months ago">6 months ago</option>
                            <option value="7 months ago">7 months ago</option>
                            <option value="8 months ago">8 months ago</option>
                            <option value="9 months ago">9 months ago</option>
                        </select>
                        
                    </div>
                    <div class="d-flex col-12 pt-4">
                        <div class="d-flex flex-column pt-2">
                            <img src="/assets/Vector (2).png" alt="square-img" class="w-100">
                            <img src="/assets/Vector (3).png" alt="square-img" class="w-100" >
                        </div>
                        <div>
                            <h3 class="font-color font-animal ps-2" >Current Milk?<span class="text-danger">*</span> (Litres per day)</h3>
                        </div>
                    </div>
                    <div class="custom-wid mt-2" >
                        <input type="text" placeholder="" (click)="refreshValue()"  (keypress)='checkValueOfMilk($event)'  [(ngModel)]="currentMilk"  class="py-2 px-3 width rounded-3">
                        
                    </div>
                    <div class="d-flex col-12 pt-4">
                        <div class="d-flex flex-column pt-2">
                            <img src="/assets/Vector (2).png" alt="square-img" class="w-100">
                            <img src="/assets/Vector (3).png" alt="square-img" class="w-100" >
                        </div>
                        <div>
                            <h3 class="font-color font-animal ps-2" >Milk Capacity? (Litres per day)</h3>
                        </div>
                    </div>
                    <div class="custom-wid mt-2" >
                        <input type="text" placeholder="" class="py-2 px-3 width rounded-3">
                        
                    </div>
                </div>
            </div>
        </div>
     </div>

     <div class="selling-price-wrapper">
        <div class="container">
            <div class=" mx-1 mt-5 rounded-3 pb-4">
                <div class="d-flex flex-column">
                    <div class="d-flex col-12 pt-4">
                        <div class="d-flex flex-column pt-2">
                            <img src="/assets/₹.png" alt="square-img" class="w-100">
                            
                        </div>
                        <div>
                            <h3 class="font-color font-animal ps-2" >Expected Selling Price<span class="text-danger">*</span></h3>
                        </div>
                    </div>
                    <div class="custom-wid mt-2" >
                        <input type="text" placeholder=""  class="py-2 px-3 width rounded-3">
                    </div>
                    <div class="custom-wid mt-2" >
                        <input type="checkbox" placeholder=""  style="width: 18px;height: 18px;" class="p-1  rounded-3"><label for="" class="font-color font-price ms-1">Is price negotiable?</label>
                    </div>
                     <div class="d-flex col-12 pt-4">
                        <div class="d-flex flex-column pt-2">
                            <img src="/assets/Vector (4).png" alt="square-img" class="w-100">
                           
                        </div>
                        <div>
                            <h3 class="font-color font-animal ps-2" >Animal Location?<span class="text-danger">*</span></h3>
                        </div>
                    </div>
                    <div class="custom-wid mt-2" >
                        <input type="text" placeholder="" class="py-2 px-3 width rounded-3">
                    </div>

                    <div class="d-flex col-12 pt-4">
                        <div class="d-flex flex-column pt-2">
                            <img src="/assets/Vector (5).png" alt="square-img" class="w-100">
                           
                        </div>
                        <div>
                            <h3 class="font-color font-animal ps-2">Pregnant Status?<span class="text-danger">*</span></h3>
                        </div>
                    </div>
                    <div class="custom-wid mt-2" >
                        <select type="text" placeholder="" class="py-3 px-3 width rounded-3" >
                            <option value="Not Pregnant">Not Pregnant</option>
                            <option value="Pregnant">Pregnant</option>
                        </select>
                    </div>


                    <div class="d-flex col-12 pt-4">
                        <div class="d-flex flex-column pt-2">
                            <img src="/assets/Vector (5).png" alt="square-img" class="w-100">
                           
                        </div>
                        <div>
                            <h3 class="font-color font-animal ps-2">Cattle delivered baby?</h3>
                        </div>
                    </div>
                    <div class="custom-wid mt-2" >
                        <select type="text" placeholder="" class="py-3 px-3 width rounded-3" >
                                <option value="1 months ago">1 months ago</option>
                                <option value="2 months ago">2 months ago</option>
                                <option value="3 months ago">3 months ago</option>
                                <option value="4 months ago">4 months ago</option>
                                <option value="5 months ago">5 months ago</option>
                                <option value="6 months ago">6 months ago</option>
                                <option value="7 months ago">7 months ago</option>
                                <option value="8 months ago">8 months ago</option>
                                <option value="9 months ago">9 months ago</option>
                        </select>
                    </div>

                    <div class="d-flex col-12 pt-4">
                        <div class="d-flex flex-column pt-2">
                            <img src="../../../../assets/Vector (7).png" alt="square-img" class="w-100 position-relative">
                            <img src="../../../../assets/Line 1.png" alt="square-img" class="clock-style position-absolute" >
                           
                        </div>
                        <div>
                            <h3 class="font-color font-animal ps-2">Age of the animal?</h3>
                        </div>
                    </div>
                    <div class="custom-wid mt-2" >
                        <select type="text" placeholder="" class="py-3 px-3 width rounded-3" >
                                <option value="1 years">1 years</option>
                                <option value="2 years">2 years</option>
                                <option value="3 years">3 years</option>
                                <option value="4 years">4 years</option>
                                <option value="5 years">5 years</option>
                                <option value="6 years">6 years</option>
                                <option value="7 years">7 years</option>
                                <option value="8 years">8 years</option>
                                <option value="9 years">9 years</option>
                        </select>
                    </div>
                    
                    <div class="d-flex col-12 pt-4">
                        <div class="d-flex flex-column pt-2">
                            <img src="/assets/Vector (9).png" alt="square-img" class="w-100">
                           
                        </div>
                        <div>
                            <h3 class="font-color font-animal ps-2">How many calf with the cattle?</h3>
                        </div>
                    </div>
                    <div class="custom-wid mt-2" >
                        <select type="text" placeholder="" class="py-3 px-3 width rounded-3" >
                                <option value="1">1</option>
                                <option value="2">2</option>
                        </select>
                    </div>

                    <div class="d-flex col-12 pt-4">
                        <div class="d-flex flex-column pt-1">
                            <img src="/assets/Vector (11).png" alt="square-img" class="w-100">
                        </div>
                        <div>
                            <h3 class="font-color font-animal ps-2">Photos (min 1 photo required)<span class="text-danger">*</span></h3>
                        </div>
                    </div>
                    <div class="custom-wid mt-2" >
                        <textarea  cols="10" rows="4" placeholder="Write something about your animal..." class="py-3 px-3 width rounded-3"></textarea>
                    </div>
                    <div class="d-flex col-12 pt-4">
                        <div class="d-flex flex-column pt-1">
                            <img src="/assets/Vector (10).png" alt="square-img" class="w-100">
                           
                        </div>
                        <div>
                            <h3 class="font-color font-animal ps-2">Enter Description</h3>
                        </div>
                    </div>
                    <div class="custom-wid " >
                        <!-- <textarea  cols="10" rows="4" " class="py-3 px-3 width rounded-3"></textarea> -->
                        <div class="width rounded-3 bg-color d-flex flex-column border-type p-4" (click)="videoUpload(uploadVideo)">
                            <div class="d-flex justify-content-center mb-3">
                                <img src="/assets/video-cross.png" alt="video-cross" height="20" width="20" class="text-center">
                            </div>
                            <p class="font-color text-center" >Video Upload</p>
                            <input type="file" name="myVideo" accept=".mp4,hd" style="display: none;" #uploadVideo>
                        </div>
                        
                    </div>
                    <div class="custom-wid mt-2 d-flex flex-column ">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="col-5 p-4 rounded-3 bg-color d-flex my-4  flex-column  border-type justify-content-center ">
                                <div class="d-flex justify-content-center" > <img src="../../../../assets/cowFront 1.png" width="60" height="60" alt="cowPhoto">
                                </div>
                                <div>
                                    <p class=" text-center font-color">Front View Photo</p>
                                </div>
                            </div>
                            <div class="col-5 p-4 rounded-3 bg-color d-flex my-4  flex-column border-type  justify-content-center ">
                                <div  class="d-flex justify-content-center" ><img src="../../../../assets/cowBack 1.png" width="60" height="60" alt="cowPhoto">
                                </div>
                                <div>
                                    <p class=" text-center font-color">Back View Photo</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <div class="col-5 p-4 rounded-3 bg-color d-flex my-4  flex-column border-type  justify-content-center ">
                                <div  class="d-flex justify-content-center" ><img src="../../../../assets/cowSide 1.png" width="60" height="60" alt="cowPhoto">
                                </div>
                                <div>
                                    <p class=" text-center font-color">Right Side View Photo</p>
                                </div>
                            </div>
                            <div class="col-5 p-4 rounded-3 bg-color d-flex my-4  flex-column border-type  justify-content-center ">
                                <div  class="d-flex justify-content-center" ><img src="../../../../assets/cowSide 2.png" width="60" height="60" alt="cowPhoto">
                                </div>
                                <div>
                                    <p class=" text-center font-color">Left Side View Photo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</section>